body {
    margin: 0;
}

.logoArea {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
}

.webList ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 4vh;
}

.logoText {
    color: red;
}


.webList ul li a {
    color: white;
}

.webList ul li a:hover {
    color: red;
    transition: 0.8s ease-in;
}