body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logoArea {
    display: flex;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.webList ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 2vh;
}

.logoText {
    color: red;
}


.webList ul li a {
    color: white;
}

.webList ul li a:hover {
    color: red;
    transition: 0.8s ease-in;
}

.img {
    width: 780px;
}

.sec_1 {
    display: flex;
}

.sec {
    position: relative;
}

.sec1_text {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    line-height: 8vh;
}


.sec2{
    background-image: url('assets/images/background\ 4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}