body {
    margin: 0;
}

.logoArea {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
}

.webList ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}