body {
    margin: 0;
}

.logoArea {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
}

.webList ul {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}