body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logoArea {
    display: flex;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
}

.logo {
    width: 130px;
}

.webList ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 2vh;
}

.logoText {
    color: red;
}


.webList ul li a {
    color: white;
}

.webList ul li a:hover {
    color: red;
    transition: 0.8s ease-in;
}

.img {
    width: 780px;
}

.sec_1 {
    display: flex;
}